export BASTION_HOST=[REDACTED] // Your bastion host as defined in your ~/.ssh/config
export DISTRIBUTION_ID=[REDACTED]
export API_ID=[REDACTED]
export AWS_REGION=[REDACTED]
export CUMULUS_BACKEND=https://${API_ID}.execute-api.${AWS_REGION}.amazonaws.com:8000/${API_STAGE:-dev}/
export DIST=[REDACTED]

